body, html {
    height: 100%;
    margin: 0;
  }

  .bg-center {
    height: 100vh;
    background-color: black;
    background-image: url('/images/bg-image2.jpg'); /*replace with your image URL */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }